@import 'src/global.scss';

.home-page {
    display: flex;
    height: inherit;

    .cover-img-section {
        width: 50%;
        background: url('https://g.foolcdn.com/editorial/images/669832/three-young-people-seated-on-a-couch-and-watching-tv.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-section {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button {
            font-size: $fontsize-header2;
            padding: 13px 22px 12px;
        }
    }
}