@import "global.scss";

.watch-party-page {
  display: flex;
  padding: 1.5% 0 6px 4%;
  text-align: left;
  overflow-x: hidden;

  .col1 {
    width: 4%;
  }

  .col2 {
    width: 66.5%;
    margin-right: 1.5%;

    .video-player-wrapper {
      .emote {
        position: fixed;
        width: 60px;
        height: 60px;
        opacity: 0;
        z-index: 2;
  
        img {
          width: 100%;
        }

        &-disabled {
          display: none;
        }
      }

      .add-video-wrapper {
        border: 1px solid grey;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .inner-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-around;
          width: 60%;

          .load-btn {
            padding: 6.5px 12px;
          }
        }
      }
    }

    .desc-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      .host {
        display: flex;
        align-items: center;

        &-icon {
          width: 35px;
          height: 35px;
        }
      }

      &-col2 {
        display: flex;
        align-items: center;

        .emote-toggle {
          display: flex;
          align-items: center;
        }

        .addToPlaylist-wrapper {
          display: flex;
          align-items: center;
  
          .input-field {
            width: 20vw;
          }
  
          .load-btn, .addToPlaylist-btn {
              padding: 6.5px 12px;
              margin-left: 4px;
          }
        }
      }
    }
  }

  .col3 {
    width: 28%;

    .chat-box-wrapper {
      border: 1px solid grey;
      border-radius: 10px;
    }
    
    .emote-list-toggle-wrapper {
      margin-top: 10px;
      display: flex;

      .emote-list-wrapper {
        width: 80%;
        overflow: hidden;
        height: 38px;
        border: 1px solid grey;
        border-right: 0px;
        border-radius: 10px 0 0 10px;
        transition: .5s;
        transform: translateX(101%);

        .emote-list-inner-wrapper {
          width: 42.50px;
          overflow-y: auto;
          overflow-x: hidden;
          transform: rotate(-90deg) translateY(-58px);
          transform-origin: right top;
          padding-top: 4px;
          padding-right: 16px;
          margin-top: -20px;
          
          .emote-btn {
            padding: 0;
            margin: 4px;
            min-width: auto;
            transform: rotate(90deg);

            &:first-child { 
              margin-top: 6px;
            }
            
            &:last-child {
              margin-bottom: 13px;
            }
            
            .emote-img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .emote-toggle {
        width: 20%;
        display: flex;
        align-items: center;
        padding: 0;
        border-radius: 10px 0px 0px 10px;
        background-color: white;

        &-dark {
          @extend .emote-toggle;
          background-color: $main-color-dark;
        }

        .left-arrow {
          display: flex;
          align-items: center;
          padding-bottom: 2px;
        }

        .emote-text {
          margin-right: 8px;
        }
      }
    }
  }

  .padding-col {
    width: 4.5%;
    height: 83vh;
    z-index: 1;
    background-color: white;

    &-dark {
      @extend .padding-col;
      background-color: $main-color-dark;
    }
  }
}
