@import 'global.scss';

.watch-party-page {
    display: flex;
    padding: 1.2% 8%;
    text-align: left;

    .col1 {
        width: 66%;
        margin-right: 2%;

        .desc-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 57px;
    
            .host {
                display: flex;
                align-items: center;
                padding-top: 4px;

                &-icon {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .video-player-wrapper {
            .add-video-wrapper {
                border: 1px solid grey;
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .inner-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 60%;

                    .load-btn {
                        padding: 6px 8px;
                    }
                }
            }
        }
    }

    .col2 {
        width: 32%;

        .connected-users-wrapper {
            .header {
                line-height: 16px;
            }

            .Accordion {
                min-height: 45px;
                margin-bottom: 12px;

                .AccordionSummary {
                    min-height: 0;
                    
                    div {
                        margin: 12px 0;
                    }
                }
    
                .user {
                    margin-top: 2px;
                }
            }

        }
        
        .chat-box-wrapper {
            // margin-top: 12px;
            border: 1px solid grey;
            border-radius: 10px;
        }
    }
}