@import '/src/global.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    width: $navbar-width;
    box-shadow: rgba(100 100 111 / 20%) 0px 2px 20px 0px;
    padding: 0 4%;
    position: fixed;
    background-color: white;
    opacity: .9;
    font-size: $fontsize-header2;
    z-index: 2;

    .col1 {
        .title-header {
            font-size: $fontsize-header1 + 6;
            color: $primary-color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .col2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .nav-item {
            margin-left: 30px;
            display: flex;
            align-items: center;
        }

        .user-icon button {
            @extend .icon-btn;
            min-width: 0;

            div {
                width: 30px;
                height: 30px;
            }
        }
    }
}