@import '/src/global.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    box-shadow: rgb(100 100 111 / 20%) 0px 2px 20px 0px;
    padding: $page-padding;
    position: fixed;
    width: 70%;
    background-color: white;
    opacity: .9;

    .left {
        .title-header {
            font-size: $fontsize-header1 + 6;
            color: $primary-color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {
            margin-left: 30px;
            display: flex;
            flex-direction: column;
        }

        .post-btn {
            border: 1px solid $primary-color;
            background-color: $primary-color;
            color: white;
        }

        .home, .following {
            &:hover {
                cursor: pointer;
                color: $primary-color;
            }
        }
    }
}