@import '/src/global.scss';

.settings-page {
    margin: 2% 20%;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    min-height: 70vh;

    .side-panel {
        width: 30%;
        border-right: 1px solid grey;
        padding: 10px 0;

        .setting-item {
            padding: 10px 0;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, .05);
            }
        }
    }

    .main-panel {
        width: 70%;
    }
}