@import "src/global.scss";

.icon-btn {
    margin-bottom: 10px;

    svg {
        font-size: 30px; 
    }
}

.playlist-icon {
    margin-top: 4px;
}

.side-panel {
    margin-top: $navbar-height;
    height: $main-component-height;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    transition: 0.5s;
    box-shadow: rgb(0 0 0 / 24%) 0px 8px 8px;
    background-color: white;
}