@import "src/global.scss";

.side-panel-col {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    padding-top: 4px;
    width: 30px;
    border-bottom: 1px solid black;

    &-dark {
        @extend .side-panel-col;
        border-bottom: 1px solid white;
    }
    
    .playlist-icon, .users-icon {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .side-panel {
        margin-top: $navbar-height;
        height: $main-component-height;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow: auto;
        transition: 0.5s;
        box-shadow: rgb(0 0 0 / 24%) 0px 8px 8px;
        background-color: white;

        &-dark {
            @extend .side-panel;
            background-color: $side-panel-dark;
        }
    }
}