@import 'src/global.scss';

.voicecall {
    padding-top: 14px;
    display: flex;
    flex-direction: column;

    &-btn {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .leave-icon {
        transform: rotate(180deg);
    }

    .audiolists {
        margin-top: 4px;

        div:first-of-type {
            margin-right: -19px !important;
            margin-bottom: -19px !important;

            .audio-avatar {
                margin-right: 0px !important;
                margin-bottom: 14px !important;
    
                .icon {
                    margin-right: 0px !important;
                    margin-bottom: 0px !important;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}