@import 'src/global.scss';

.voicecall {
    padding-top: 14px;
    display: flex;
    flex-direction: column;

    &-btn {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .leave-icon {
        transform: rotate(180deg);
    }

    .audiolists {
        margin-top: 4px;
        overflow-x: hidden;
        overflow-y: auto;

        .audio-avatar {
            margin-bottom: 14px;

            .icon {
                width: 32px;
                height: 32px;
            }
        }
    }
}