@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
$fontfamily-base: 'Nunito Sans', sans-serif;
$fontsize-base: 14px;
$fontsize-header1: $fontsize-base + 6;
$fontsize-header2: $fontsize-base + 2;
$primary-color: #ff6969;
$page-padding: 4% 4%;
$navbar-height: 11vh;
$navbar-width: 92%;
$main-component-height: 89vh;
$box-shadow-common: rgba(0, 0, 0, 0.24) 0px 2px 8px;
$navbar-color-dark: #252525;
$box-color-dark: #282828;
$main-color-dark: #1d1d1d;
$side-panel-dark: #2e2e2e;

.MuiButton-root {
    font-family: $fontfamily-base;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.15) 1.8px 1.8px 2.6px;
    }
}

.theme-btn {
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: white;

    &:hover {
        @extend .theme-btn;
    }
}

.page-header {
    font-size: $fontsize-header1;
}

.header1 {
    font-size: $fontsize-header1;
}

.header {
    font-size: $fontsize-header2;
}

svg:hover {
    cursor: pointer;
}

.icon-btn {
    padding: 0;
    border: none;
    
    &:hover {
        box-shadow: none;
    }
}

.box-common-dark {
    background-color: $box-color-dark;
}

.textfield-dark {
    label {
        color: white;
    }
    fieldset {
        border-color: grey;
    }
    input {
        color: white;

        &::placeholder {
            color: white;
        }
    }
    textarea {
        color: white;

        &::placeholder {
            color: white;
        }
    }
}