@import '/src/global.scss';

.post-recipe-page {
    display: flex;
    justify-content: space-around;
    margin: 2% 30%;

    .recipe-form-wrapper {
        border: 1px solid grey;
        border-radius: 10px;
        padding: 12px;
        
        .recipe-form { 
            text-align: left;
            .section {
                margin-bottom: 10px;
            }

            .desc-section, .steps-section {
                margin-bottom: 5px;
            }

            .added-section {
                padding: 6px 8px;

                .no-item-message {
                    color: grey;
                }

                .added-item {
                    padding: 2px 8px;
                    border: 1px solid grey;
                    border-radius: 4px;
                    margin-bottom: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }

            .ingr-section {

                .ingr-add-section {
                    display: flex;
                    align-items: center;

                    .col1 {
                        width: 49.25%;
                        margin-right: .75%;
                    }

                    .col2 {
                        width: 40.25%;
                        margin-left: .75%;
                        margin-right: 1.5%;
                    }

                    .col3 {
                        width: 7.5%;
                        display: flex;
                    }
                }
            }

            .servings-time-section {
                display: flex;

                .col1 {
                    width: 49.25%;
                    margin-right: .75%;
                }

                .col2 {
                    width: 49.25%;
                    margin-left: .75%;
                }
            }

            .time-section .time-section-input-wrapper {
                display: flex;

                .col1, .col2 {
                    display: flex;

                    div {
                        display: flex;
                        align-items: center;
                        margin-right: 4px;
                    }
                }

                .col1 {
                    width: 49.25%;
                    margin-right: .75%;
                }

                .col2 {
                    width: 49.25%;
                    margin-left: .75%;
                }
            }

            .steps-section .steps-add-section {
                display: flex;

                .col1 {
                    width: 91%;
                    margin-right: 1.5%;
                }

                .col2 {
                    width: 7.5%;
                    display: flex;
                }
            }

            .item-missing-warning {
                margin-left: 10px;
                font-size: 14px;
                color: red;
                visibility: hidden;
            }

            .post-btn-wrapper {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}