@import 'src/global.scss';

.playlist-panel {
    padding: 0 0 10px;

    .header {
        padding: 20px 20px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .playlist-item-wrapper {
        display: flex;
        align-items: center;
        padding: 8px 8px 0 0;
        
        .drag-btn {
            visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 8px;
            width: 20px;
        }

        &:hover {
            background-color: rgba(0,0,0,.1);

            .drag-btn {
                visibility: visible;
            }    
        }

        .clickable-area {
            width: 90%;
            display: flex;
            align-items: center;
            margin-bottom: 3px;

            &:hover {
                cursor: pointer;
            }

            .thumbnail-wrapper {
                width: 35%;
                
                .thumbnail {
                    width: 100%;
                }
                
            }
    
            .title {
                width: 65%;
                margin-bottom: 5px;
                padding-left: 6px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3; /* number of lines to show */
                        line-clamp: 3; 
                -webkit-box-orient: vertical;
            }
        }

        .item-delete-btn {
            width: 10%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 8px;
        }

        &-current, &-current-guest {
            @extend .playlist-item-wrapper;
            background-color: rgba(0,0,0,.35);

            &:hover {
                background-color: rgba(0,0,0,.35);
            }
        }

        &-current-guest, &-guest {
            @extend .playlist-item-wrapper;
            padding: 8px 8px 0 20px;

            .clickable-area {
                width: 100%;
                padding-right: 12px;

                &:hover {
                    cursor: default;
                }
            }

            .item-delete-btn {
                display: none;
            }
        }
        
        &-guest {
            &:hover {
                background-color: white;
            }

            .item:hover {
                cursor: default;
            }
        }
    }
}